<!-- 

    EXTERNAL LINKS
    (c) Si Dunford, Blitz Community, 2022

    Displays external links

--> 
<template>
<div class="w3-card w3-round w3-white">
    <div class="w3-container">
        <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://blitz-community.github.io/blitzbasic-backup/">BlitzBasic archive</a>
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://discord.gg/yVxkBybBsY" rel="nofollow">Discord</a>
        </p>
    </div>
</div>
<br/>
</template>
