<style>
header {
    background-color: var(--Primary);
    background-image: url("assets/img/logo.png");
    background-repeat: no-repeat;
    background-position: left 5px top 5px;
    color: var(--OnPrimary);
    margin-bottom: 25px;
    height:100px;
}
header #title {
    padding-left: 100px;
    height: 48px;
    line-height:48px;
    color: var(--OnPrimary);
}
header ul {
    background-color: var(--PrimaryVariant);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 100px;
}
header li {
  float: left;
}
li a, li img {
    display: block;
    color: var(--OnPrimary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header li a:hover {
    background-color: var(--Secondary);
}
header .right {
    float:right;
}
</style>

<template>
<h4 id="title">Blitz Community</h4>
<nav id="navbar">
<ul>
    <li></li>
    <li><a href="test.html">Home</a></li>
    <li><a target="_blank" href="https://github.com/Blitz-Community/blitzmax/wiki">Wiki</a></li>
    <li><a target="_blank" href="https://github.com/Blitz-Community/blitzmax/blob/main/code%20archive">Code archive</a></li>
    <li><a target="_blank" href="https://github.com/Blitz-Community/blitzmax/discussions">Discussions board</a></li>
    <li><a target="_blank" href="https://github.com/Blitz-Community/blitzmax/discussions/categories/tutorials">Tutorials</a></li>
    <li><a target="_blank" href="https://github.com/Blitz-Community/blitzmax/discussions/categories/worklogs">Worklogs</a></li>
    <li><a target="_blank" href="https://blitzmax.org/" rel="nofollow">Official website</a></li>
    <li class="right"><a href="#about">About</a></li>
</ul>
</nav>
</template>