<template>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Blitz Community</a>
     <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
     <div class="w3-dropdown-hover w3-hide-small">
       <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
       <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
         <a href="#" class="w3-bar-item w3-button">One new friend request</a>
         <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
         <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
       </div>
     </div>
     <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
       <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
     </a>
    </div>

<!--Subheading START-->
<div class="w3-bar w3-theme-d3 w3-left-align w3-large">

    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="BlitzBasic">BlitzBasic</i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="Blitz3D">Blitz3D</a>
    <div class="w3-dropdown-hover">
        <a href="#/blitzmax" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="BlitzMax">BlitzMax</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#/blitzmax" class="w3-bar-item w3-button-2 w3-hide-small w3-padding-medium w3-hover-white" title="BlitzMax">BlitzMax</a>
            <div class="w3-bar-item">Generation 2<p>Open Source<br>No longer maintained</p></div>
            <a class="w3-bar-item w3-button" target="_blank" href="https://discord.gg/yVxkBybBsY" rel="nofollow">Discord</a>
            <a class="w3-bar-item w3-button" href='#/showcase/blitzmax'>Showcase</a>
        </div>
    </div>

    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="Monkey">Monkey</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="Monkey2">Monkey2</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="Cerberus-X">Cerberus-X</a>
    <div class="w3-dropdown-hover">
        <a href="#/blitzmaxng" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="BlitzMax-NG">BlitzMax-NG</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#/blitzmaxng" class="w3-bar-item w3-button-2 w3-hide-small w3-padding-medium w3-hover-white" title="BlitzMax-NG">BlitzMax-NG</a>
            <div class="w3-bar-item">Generation 3<p>Open Source and maintained by the community</p></div>
            <a class="w3-bar-item w3-button" target="_blank" href="https://discord.gg/yVxkBybBsY" rel="nofollow">Discord</a>
            <a class="w3-bar-item w3-button" href='#/showcase/blitzmaxng'>Showcase</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <a href="#/wonkey" class="w3-bar-item w3-button w3-hide-small w3-padding-medium w3-hover-white" title="Wonkey">Wonkey</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#/wonkey" class="w3-bar-item w3-button-2 w3-hide-small w3-padding-medium w3-hover-white" title="Wonkey">Wonkey</a>
            <div class="w3-bar-item">Generation 3<p>Open Source and maintained by the community</p></div>
            <a class="w3-bar-item w3-button" target="_blank" href="https://discord.com/channels/796336780302876683/796336780302876686" rel="nofollow">Discord</a>
            <a class="w3-bar-item w3-button" href='#/showcase/wonkey'>Showcase</a>
        </div>
    </div>

</div><!--Subheading END-->
</div>
   
<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
     <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
     <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
     <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
     <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

</template>
