<!-- 

    LANGUAGES
    (c) Si Dunford, Blitz Community, 2022

    Displays a list of languages

--> 
<template>
<!-- Interests --> 
<div class="w3-card w3-round w3-white w3-hide-small">
<div class="w3-container">
  <p>Blitz Languages:</p>
  <p>
    <span class="w3-tag w3-small w3-theme-d5">Blitz basic</span>
    <span class="w3-tag w3-small w3-theme-d4">Blitz3D</span>
    <span class="w3-tag w3-small w3-theme-d3">BlitzMax</span>
    <span class="w3-tag w3-small w3-theme-d2">Monkey</span>
    <span class="w3-tag w3-small w3-theme-d1">Monkey2</span>
    <span class="w3-tag w3-small w3-theme">BlitzMax-NG</span>
    <span class="w3-tag w3-small w3-theme-l1">Cerberus</span>
    <span class="w3-tag w3-small w3-theme-l2">Wonky</span>
  </p>
</div>
</div>
<br>
</template>
