<!-- 

    LINKS
    (c) Si Dunford, Blitz Community, 2022

    Displays links

--> 
<template>
<div class="w3-card w3-round w3-white">
    <div class="w3-container">
        <p>
            <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://github.com/Blitz-Community/blitzmax/wiki">Wiki</a>
        </p>
        <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://github.com/Blitz-Community/blitzmax/blob/main/code%20archive">Code archive</a>
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://github.com/Blitz-Community/blitzmax/discussions">Discussions board</a>
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://github.com/Blitz-Community/blitzmax/discussions/categories/tutorials">Tutorials</a>
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://github.com/Blitz-Community/blitzmax/discussions/categories/worklogs">Worklogs</a>
        </p>
        <p>
            <i class="fa fa-rocket fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a target="_blank" href="https://blitzmax.org/" rel="nofollow">Official website</a>
        </p>
        <p>
            <i class="fa fa-about fa-fw w3-margin-right w3-text-theme"></i>&nbsp;
            <a href="#/about" rel="nofollow">About</a>
        </p>
        
    </div>
</div>
<br/>
</template>
