
<template>

<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img class="Slide" src="showcase/tvtower.jpg" style="width:100%">
    <img class="Slide" src="showcase/genusprime.png" style="width:100%">
    <img class="Slide" src="showcase/trickorsweets.jpg" style="width:100%">
    <img class="Slide" src="showcase/daydreammosaic.jpg" style="width:100%">
</div>

<script src="{PATH}/showcase.js">

<script>
// Automatic Slideshow - change image every 3 seconds

console.log( "LOADING SHOWCASE" )

function carousel() {
    console.log( "Running carousel")
    var slides = document.getElementsByClassName( "Slide" )
    for( var i = 0; i < slides.length; i++ ) {
        console.log( i )
        slides[i].style.display = "none"
    }
    this.index ++
    if( this.index > slides.length ) { this.index = 1 }
    slides[ this.index-1 ].style.display = "block"
    this.timer = setTimeout( this.carousel, 3000 )
}
carousel()
</script>

</template>
