<style>
#showcase { 

}
#showcase .column {
    float: left;
    width: 50%;
}
#showcase .row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
    #showcase .column {
        width: 100%;
    }
}
</style>

<template>
<script>
console.log( "LOADING SLIDESHOW" )
loadFile( "slideshow/database", slides )

function slides( data ) {
    console.log( data )
}
</script>

<section id="showcase" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="column">
                    <img src="showcase/tvtower.jpg" alt="TV Tower"/>
                </div>
                <div class="column">
                    <h1>TV Tower</h1>
                    <p>Some blurb goes here</p>
                    <a href="#">LINK TO DOWNLOAD</a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="geniusprime.jpg" alt="Genius Prime">
            <div class="showcase/carousel-caption">
                <h3>Genius Prime</h3>
                <p>Description here</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="trickorsweets.jpg" alt="Trick or Sweets">
            <div class="showcase/carousel-caption">
                <h3>Trick or Sweets</h3>
                <p>Description here</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="daydreammosaic.jpg" alt="Day Dream Mosaic">
            <div class="carousel-caption">
                <h3>Day Dream Mosaic</h3>
                <p>Description here</p>
            </div>
        </div>

    </div>

</section>

</template>
